@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');  /** Poppins Font **/


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20%;
}
.form-container{
    width: 60%;
    margin-top: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.form-title{
    margin-bottom: 0.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.checkout-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

.input-line{
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}
.input-line.error {
    color: #ff3860;
    }
.input-line.success {
     border-color: #09c372;
        }

label{
    font-size: 16px;
    color: grey;
    margin-bottom: 0.5rem;
}
.input-line.error input[type="text"],
.input-line.error input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border-color: #ff3860;
    font-size: 18px;
}

input[type="text"],input[type="email"]{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}

input[type="text"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}
input[type="email"]::placeholder{
    font-size: 14px;
    color: #b9b9b9;
}

input[type="submit"]{
    background-color: #0056b3;
    color: white;
    font-weight: 500;
    font-size: 18px;
    height: 50px;
    padding: 0 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(4, 88, 167);
}